@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

body {
    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    max-width: 500px;
}

h1, h2 {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: bold;
}

h1, p {
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

ol {
    list-style-type: upper-roman;
}

ol, ul {
    line-height: 2;
}

.container {
    background-color: oldlace;
    padding: 20px;
    margin: 5px;
    border-radius: 3px;
}